//IMPORT FONTS
@font-face {
    font-family: Sora;
    src: url(../fonts/Sora-Regular.ttf);
}
@font-face {
    font-family: Sora-Bold;
    src: url(../fonts/Sora-Bold.ttf);
}
//COLOR VARIABLES
$default-color: #7FCAF5;

* {
    margin: 0;
    padding: 0;
}
.content {
    width: 100%;
    min-height: 100vh;
    background-color: #E5E5E5;
}
.headerArea {
    width: 100%;
    height: 539px;
    background-color: #FFF;
    background-image: url(../images/hands.svg);
    background-repeat: no-repeat;
    background-position-x: 67%;
    padding-top: 21px;
    .headerBrand {
        width: 70px;
        height: 70px;
        float: left;
        margin-left: 15%;
        img {
            height: 100%;
        }
    }
    .headerMenu {
        width: 48%;
        height: 70px;
        float: left;
        ul {
            list-style: none;
            li {
                display: inline-block;
                line-height: 70px;
                font-family: 'Sora';
                font-weight: 600;
                font-style: normal;
                font-size: 18px;
                color: $default-color;
                padding-left: 4%;
                img {
                    padding-left: 5px;
                }
            }
        }
    }
    .userHeader {
        width: 8%;
        height: 70px;
        float: left;
        span {
            line-height: 70px;
            font-family: 'Sora';
            font-weight: 600;
            font-style: normal;
            font-size: 18px;
            color: $default-color;
        }
        img {
            padding-left: 5px;
        }
    }
    .userCartHeader {
        width: 7%;
        height: 70px;
        float: left;
        #cart {
            width: 66px;
            height: 57px;
            line-height: 70px;
            padding-left: 20px;
        }
    }
    .titleBrand {
        width: 600px;
        height: 300px;
        margin-left: 20%;
        margin-top: 100px;
        h1 {
            font-family: 'Sora-Bold';
            font-weight: 800;
            font-style: normal;
            font-size: 64px;
            color: $default-color;
        }
        h5 {
            font-family: 'Sora';
            font-weight: 400;
            font-size: 18px;
            color: $default-color;
        }
        #headerButton {
            width: 387px;
            height: 66px;
            background: linear-gradient(93.74deg, #6CF598 0%, rgba(127, 202, 245, 0.9) 100%);
            color: #FFF;
            border-radius: 8px;
            font-size: 20px;
            border: none;
            margin-top: 50px;

        }
    }
}
.frontFilter {
    width: 324px;
    height: 444px;
    background-color: red;
    border-radius: 8px;
}
