//IMPORT FONTS
@font-face {
    font-family: Sora;
    src: url(../fonts/Sora-Regular.ttf);
}
@font-face {
    font-family: Sora-Bold;
    src: url(../fonts/Sora-Bold.ttf);
}
//COLOR VARIABLES
$default-color: #7FCAF5;
$text-color: #4C7993;
$select-border: #808B92;
$btn-bckg: #c3e6f8;
$btn-secondary: #6CF598;

* {
    margin: 0;
    padding: 0;
}

.topPage {
    width: 100%;
    height: 50px;
    background-color: $btn-bckg;
    box-shadow: 0 4px 5px -5px gray;
    .topTitle {
        width: 20%;
        height: 100%;
        float: left;
        h1 {
            font-family: 'Sora';
            color: $text-color;
            padding-left: 10px;
        }
    }
    .addProduct {
        width: 80%;
        height: 100%;
        float: left;
        button {
            float: right;
            margin-right: 20px;
            margin-top: 6px;
            background-color: $text-color;
            color: #FFF;
            border: none;
            &:hover {
                background-color: $btn-secondary;
                color: $text-color; 
                transition: .5s;
            }
        }
    }
}
.productTable {
    width: 95%;
    height: calc(100vh - 150px);
    margin: auto;
    margin-top: 10px;
}